---

import Swift from "../icons/Swift.astro"
import MySQL from "../icons/Mysql.astro"
import NodeJS from "../icons/Nodejs.astro"
import React from "../icons/ReactIcon.astro"
import Figma from "../icons/Figma.astro"
import Postman from "../icons/Postman.astro"




const TAGSICONS = {

   SWIFT : {
        name: "Swift",
        class: "bg-[#ed6348] text-",
        icon: Swift
    },
    SWIFTUI : {
        name: "Swift UI",
        class: "bg-[#3375ee] text-white",
        icon: Swift
    },
    SWIFTDATA : {
        name: "Swift Data",
        class: "bg-[#8095a3] text-white",
        icon: Swift
    },
    MYSQL : {
        name: "MySQL",
        class: "bg-[#2e658b] text-white",
        icon: MySQL
    },
    NODE : {
      name: "Node.js",
      class: "bg-[#669c4f] text-white",
      icon : NodeJS
    } , 
    EXPRESS :{
      name: "Express.js",
      class: "bg-[#222222] text-white",
      icon : NodeJS
    }, 
    REACT : {
      name: "React",
      class: "bg-[#387ca0] text-white",
      icon: React
    }, 
    FIGMA : {
      name: "Figma",
      class: "bg-[#1e2433] text-white",
      icon: Figma
    }, 
    POSTMAN : {
      name: "Postman",
      class: "bg-[#ed7547] text-white",
      icon: Postman
    }


}

const PROJECTS = [
    {
        title: "Dilo con Señas - Aprende Lenguaje de Señas",
        description:"Aplicación móvil diseñada con apoyo de instituciones publicas para ayudar a las personas a aprender el lenguaje de señas. Con una sección de aprendizaje con imagenes y videos de señas consumidos por ApiREST, sección de jugar mediante categorias de dificultad variable.",
        image: "/ss-1.webp",
        github: "https://github.com/Patroncito/manosquehablan",
        tags: [TAGSICONS.SWIFT, TAGSICONS.SWIFTUI, TAGSICONS.SWIFTDATA, TAGSICONS.FIGMA]
    },
    {
        title: "RV & CO Clients - Bienes Raíces",
        description:"Desarrollado en Swift y React, La tarea principal es generar y reservar citas con clientes de bienes raíces. Caracteristicas:  Filtrar y buscar por categoria, con MapKit buscar marcadores de las propiedades, añadir a favoritos, recibir notificaciones de cita proxima.",
        image: "/ss-2.webp",
        github: "https://github.com/Patroncito/manosquehablan",
        tags: [TAGSICONS.SWIFT, TAGSICONS.SWIFTUI, TAGSICONS.SWIFTDATA, TAGSICONS.REACT, TAGSICONS.POSTMAN]
    },
    {
        title: "Notus - Guarda tus notas en la nube",
        description:"Aplicación desarrollada en Swift y SwiftUI para añadir, editar, buscar y eliminar notas en la nube, con caracteristicas como filtrar por categoria, teniendo acceso desde la aplicación Notus, o  desde el navegador. Los datos son consumidos mediante llamadas al backend, desarrollado con Node.js y Express, junto con una base de datos MySQL",
        image: "/ss-3.webp",
        github: "https://github.com/Patroncito/manosquehablan",
        tags: [TAGSICONS.SWIFT, TAGSICONS.SWIFTUI, TAGSICONS.SWIFTDATA, TAGSICONS.MYSQL, TAGSICONS.NODE, TAGSICONS.EXPRESS]
    }
]
---

{
PROJECTS.map(({ image, title, description, tags }) => (
  <article class="mb-8 md:mb-12 lg:mb-16">
    <h3 class="text-xl md:text-xl lg:text-2xl font-semibold text-purple-300 mb-2">{title}</h3>
    <p class="text-sm md:text-base mb-4">{description}</p>
    <ul class="flex flex-wrap gap-x-2 mb-4">
      {tags.map((tag) => (
        <li>
          <span class={`flex gap-x-2 rounded-full text-xs md:text-sm items-center ${tag.class} py-1 px-2`}>
            <tag.icon class="w-4 h-4 md:w-5 md:h-5"/>
            {tag.name}
          </span>
        </li>
      ))}
    </ul>
    <img class="w-full h-auto rounded shadow-2xl shadow-white/10" 
      src={image} 
      alt="Captura de pantalla del proyecto"
    />
  </article>
))


}